@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&display=swap");

.tiktok {
  color: white;
  font-size: 80px;
  text-align: center;
  text-shadow:
    2px 3px #ec1d5b,
    -2px -3px #1eecff;
}

p {
  color: green;
}

h1 {
  font-family: "Bitcount Grid Double Ink", sans-serif;
  font-style: italic;
  font-size: 3rem;

  text-shadow:
    rgb(38, 0, 255) 2px 2px 2px,
    red -6px -6px;
}

body {
  text-align: center;
  line-height: 1; /**/
}

a {
  text-decoration: none;
  color: #ec1d5b;
}
